@import url('../general.css');

.designers_card{
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

h1{
    text-align: center;
    line-height: normal;
}

.designers_cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image_mask{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto 10px;
    overflow: hidden;
}

.see_all_button{
    background-color: var(--color-orange);
    width: 114px;
    padding: 6px 14px;
    border-radius: 10px;
    color: var(--color-white);
    border: 0;
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.2);
    font-family: "Robotot", sans-serif;
    font-weight: 500;
}