@import url('../general.css');
@import url('events-card.css');
@import url('social_media_card.css');
@import url('designers-card.css');
@import url('homemap.css');

.main-container, .top-container, .bottom-container {
    display: grid;
    height: 100%;
    gap: 20px;
}

.main-container{ 
    grid-template-rows: 3fr 2fr; 
}

.top-container {
    grid-template-columns: 5fr 7fr;
}

.bottom-container {
    grid-template-columns: 6fr 3fr 3fr;
}

.rectangle{
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}
.main_text{
  font-optical-sizing: auto;
  font: var(--font-style-header);
  font-style: normal;
  text-align: center;
  line-height: normal;
}

.QR_code{
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QR_code img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}
