@import url(../styles/general.css);

html {
    scroll-behavior: smooth;
}

.back-to-top {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 0;
    right: 60px;
    z-index: 99;
    border: none;
    background-color: var(--color-orange);
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    opacity: 0.7;
}

body:has(.back-to-top) .back-to-top {
    display: block;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
    position: relative;
}

.title-container a {
    text-decoration: none;
    color: var(--color-black);
    display: flex;
    width: 96px;
    align-items: center;
    gap: 9px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    left: 0;
}


.title {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%; /* Centers title horizontally */
    transform: translateX(-50%); /* Offset by 50% of its width */
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    right: 0;
}

.previous-button {
    background-color: var(--color-white);
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.2);
    padding: 6px 14px;
    border: 0;
    border-radius: 10px;
    color: var(--color-orange);
    font-family: "Robotot", sans-serif;
    font-weight: 500;
}

.next-button {
    background-color: var(--color-orange);
    width: 114px;
    padding: 6px 14px;
    border-radius: 10px;
    color: var(--color-white);
    border: 0;
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.2);
    font-family: "Robotot", sans-serif;
    font-weight: 500;
}

.alphabet-nav {
    width: 1440px;
    background-color: var(--color-grey);
    box-shadow: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
}

.alphabet-nav span {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

#designer-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 19px;
    row-gap: 30px;
    justify-content: center;
    margin: 43px 0 109px 0;
}

#designer-cards a{
    text-decoration: none;
}

.card {
    width: 427px;
    height: 465px;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
}

.card img {
    width: 100%;
    height: 392px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: top;
}

.card h2 {
    font-size: 24px;
    color: #000000;
    margin: 18px 0 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* --- EACH DESIGNER PAGE --*/

.photo-bio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 107px;
}

#main-picture {
    width: 540px;
    height: 674px;
    border-radius: 10px;
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.2);
    margin-right: 135px;
}

.text-container h2 {
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 24px;
}

.text-container p {
    font-family: "Robotot", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.social-media-icons {
    display: flex;
    justify-content: left;
    column-gap: 60px;
}

.social-media-icons img {
    width: 67px;
    height: 67px;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 27px;
}

.gallery img {
    width: 427px;
    height: 607px;
    border-radius: 10px;
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.2);
}

.gallery h2 {
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 24px;
}