:root {
    /* Color Variables */
    --color-black: #000000;
    --color-light-black: #202020;
    --color-white: #ffffff;
    --color-orange: #FF5C00;
    --color-grey: #F5F5F5;

    /* Font Style Variables (all using Roboto Condensed directly) */
    --font-style-header: normal bold 48px/1.2 'Roboto Condensed', sans-serif;  /* Header (48px bold) */
    --font-style-header2: normal bold 24px/1.3 'Roboto Condensed', sans-serif; /* Header2 (24px bold) */
    --font-style-header3: normal normal 20px/1.4 'Roboto Condensed', sans-serif; /* Header3 (20px normal) */
    --font-style-body-text: normal normal 16px/1.5 'Roboto Condensed', sans-serif; /* BodyText (16px normal) */
}

*{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}