@import url('general.css');

.top-container {
    display: grid;
    grid-template-columns: 4fr 8fr; /* 4/12 and 8/12 */
    height: 50vh; /* Half the height of the viewport */
}

.left-top{
    background-color: blue;
    height: 100%;
}

.right-top{
    background-color: red;
    height: 100%;
}
.bottom-container {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 3fr; /* 6/12 and 3/12 for the rest */
    height: 50vh; /* Half the height of the viewport */
}

.left-bottom, .middle-bottom, .right-bottom {
    background-color: green; /* Light grey background for visualization */
    padding: 20px;
    height: 100%; /* Fill the entire height */
}

/* Optional styling to see the grid lines */
.top-container, .bottom-container {
    gap: 20px; /* Space between columns */
}


.social_media_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;/*center it horizontally*/
    width: 315px;
    height: 340px;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-left: 13px;
    padding-right: 13px;
    background-color: var(--color-white); 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  

}

.SM_text {
  font: var(--font-style-header);
  text-align: center;
  line-height: normal;
}

.group_parent {
    display: flex;
    flex-wrap: wrap;
    width: 196px;
    height: 158px;
    gap: 21px 60px;
}

.social_button{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    width: 68px; 
    height: 68px; 
}


.down_text {
    font: var(--font-style-header2);
    text-transform: uppercase;
}

/*QR code card*/

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--color-white);
    width: 747px;
    height: 731px;
    opacity: 0;
}
.container.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.QR_header{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-optical-sizing: auto;
    font: var(--font-style-header);
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    flex: 1;
    margin-top: 68px;
}

.close-button{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    position: absolute;
    top: 68px;
    left: 48px;
    padding: 5px;
}

.QR_body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 75%;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
/*get our app*/
.rectangle{
    width: 315px;
    height: 340px;
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}
.main_text{
  font-optical-sizing: auto;
  font: var(--font-style-header);
  font-style: normal;
  text-align: center;
  line-height: normal;
}

.QR_code{
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QR_code img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}


